<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Books by reference</title>
</head>
<body>
<h1>List Books</h1>
<table border="0">
    <tr>
    <td>
        <form method="post" action="{{path('SearchRef')}}">
        {{form_start(form)}}
        {{form_row(form.ref)}}
        {{form_end(form)}}
        </form>
    </td>
    <td>
        <button type="submit"> Search </button>
    </td>

</table>

<table border="1">
    <tr>
        <th>Title</th>

        <th>Publication date</th>
        <th>Published</th>
        <th>Category</th>

        <th>Author</th>
        <th>Actions</th>
    </tr>


    <tr>  {% for b in books %} </tr>
    <td>{{ b.Title }}</td>
    <td>{{ b.publicationdate | date('M-d-Y') }}</td>
    <td> {{b.publisher }}</td>

    <td> {{b.category }}</td>
    <td>{{ b.author.username }}</td>
    <td>
        <a href="{{ path('app_detailBook', {'ref': b.ref}) }}">show</a>
        <a href="{{ path('app_editBook', {'ref': b.ref}) }}">edit</a>
    </td>


    {% endfor %}

    

</table>
<button type="Submit">
<a href="{{ path('AddBook')}}">Create New Book</a>
</button>
</body>
</html>